node_modules/
dist/
.DS_Store
*.log

frontend/node_modules/
frontend/dist/
frontend/.svelte-kit/
frontend/.vite/
frontend/.env
frontend/.env.*
frontend/.vite-cache/

backend/node_modules/
backend/dist/
backend/.env
backend/.env.*
backend/static/
backend/.wrangler/

*.swp
*.tmp
*.bak
*.swo
*.swn
Thumbs.db
eThumbs.db
.vscode/
.idea/